* {
  margin: 0;
  padding: 0;
  font-family: "Baloo 2", sans-serif;
  font-size: 25px;
  color: #fff !important;
}

.bgsite {
  z-index: -1;
  object-fit: cover;
  position: fixed;
  width: 100%;
  height: 100%;
}

/* header */
.nav-link,
.vertical-line {
  font-size: 30px;
  line-height: 50px;
  font-weight: 600;
  color: #fff;
}

.nav-link-direct {
  font-size: 20px;
}
.vertical-line {
  padding: 6px 0px;
  font-size: 20px;
  margin-top: 5px;
}
.navbar-toggler {
  border: 2px solid white;
  width: 50px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* header */

/* main */
.wrapper {
  min-height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#form-signup {
  max-width: 700px;
  max-height: 1000px;
  flex-grow: 1;
  padding: 30px 60px 40px;
  border-radius: 30px;
  box-shadow: 45.3px -45.3px 45.3px rgba(165, 165, 165, 0.1) inset,
    -45.3px 45.3px 45.3px rgba(255, 255, 255, 0.1) inset;
  backdrop-filter: blur(90.6px);
}
.form-title {
  font-size: 60px;
  text-align: center;
  margin-bottom: 30px;
}
.form-group {
  border-bottom: 1px solid #fff;
  margin: 10px 0px 25px;
}
.form-input {
  background: transparent;
  border: 0;
  outline: 0;
  color: #f5f5f5;
  font-size: 20px;
}
.form-submit {
  margin: 0 auto;
  display: block;
  width: 120px;
  padding: 6px 10px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.24),
    rgba(54, 96, 121, 0.74) 86.1%,
    rgba(31, 79, 106, 0.8) 95.5%,
    rgba(17, 108, 103, 0.26)
  );
  color: #fff;
  border: none;
  border-radius: 5px;
}
.signup-text {
  font-size: 25px;
  margin-bottom: -10px;
}
.signup-text i {
  margin-right: 10px;
}
.signup-check {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.signup-check a {
  color: #fff;
}

.signup-or {
  text-align: center;
  font-size: 20px;
  margin: 15px auto 30px;
  position: relative;
}

.social-media {
  text-align: center;
  margin-top: -20px;
  margin-bottom: 30px;
}
.social-media a {
  text-decoration: none;
  color: #fff;
  padding: 0px 10px;
}

.social-media i {
  font-size: 50px;
}

/* main */

/* footer */
.footer {
  background-color: #000;
}

.four-col {
  padding: 20px;
}

.four-col .title {
  font-size: 25px;
}

.four-col a {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
}

.social i {
  margin: 10px 5px 0 0;
  font-size: 40px;
}
/* footer */
